body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
  .parent {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .content {
    max-width: 1366px;
    margin: 0 auto;
  }

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}