* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 50px;
  text-align: center;
}


/* Style the searchbar */
#searchbardiv {
  float:right;
}
  #searchbardiv input {
      height:20px;
      width:200px;
      border:none;
      background-color:#e4e4e4;
      font-size:0.9em;
      padding-left:5px;
      background-image:url("images/magnifyglass.png");
      background-repeat:no-repeat;
      background-position:right center;
  }
::placeholder {
  color:black;
  font-weight:bold;
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.flex-container-single {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.flex-container-triple {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.flex-container-single > div {
  background-color: #f1f1f1;
  width: 865px;
  height: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container-triple > div {
  background-color: #f1f1f1;
  width: 275px;
  height: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}