* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, serif;
}

/* Style the header */
.header {
  padding: 50px;
  text-align: left;
  background: url('images/spaceWalkCrop.png');
}

/* Style the title */
h1 {
  background-color: black;
  color: white;
  font-family: Georgia, serif;
}

/* Style the searchbar */
#searchbardiv {
  float:right;
  padding: 5px;
}
  #searchbardiv input {
      height:30px;
      width:300px;
      border:none;
      background-color:#e4e4e4;
      border-radius: 5px;
      font-size:0.9em;
      font-family: Georgia, serif;
      padding-left:5px;
      background-image:url("images/magnifyglass.png");
      background-repeat:no-repeat;
      background-position:right center;
  }
::placeholder {
  color:black;
  font-family: Georgia, serif;
  font-weight:bold;
}
 

.flex-container-single {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.flex-container-triple {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.flex-container-single > div {
  background-color: #f1f1f1;
  width: 865px;
  height: 500px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container-triple > div {
  background-color: #f1f1f1;
  width: 275px;
  height: 350px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* Style images in flexboxes */
img {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* Add a gray background color and some padding to the footer */
#FooterFrame {
  background-color: #f2f2f2;
  padding: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

 .imageDescription{
   float: left;
 }

 
.dropdown {
  float: right;
  margin-left: 30px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  background-color: #ddd;
  color: black;  
  background-color: #ddd;
}



 /* Button on launcher image */

 .buttoncontainer {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.buttoncontainer img {
  width: 100%;
  height: auto;
}

.buttoncontainer .btn {
  position: absolute;
  bottom:0%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.buttoncontainer .btn:hover {
  background-color:grey;
}